body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

button,
input,
optgroup,
select,
textarea,
label,
span,
p{
    font-family: 'Lato', sans-serif!important;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Quicksand', sans-serif;
}

:focus-visible {
    outline: none!important;
}
